---
import LogoW from "../../assets/logo_re.svg";
---

<footer id="footer">
  <div class="container">
    <div class="logoC">
      <LogoW width={64} height={64} fill="#000" />
      <p>
        Ut vestibulum at metus vitae imperdiet. Sed pretium ex eleifend risus
        pellentesque ultricies. Donec et aliquam tortor. Curabitur non interdum
        purus.
      </p>
      <a>Contact us</a>
    </div>
  </div>
</footer>

<style lang="scss">
  .container {
    display: block;
  }

  @media screen and (min-width: 400px) {
  }
  @media screen and (min-width: 568px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1024px) {
  }
  @media screen and (min-width: 1300px) {
  }
</style>
