---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const catCollection = await getCollection("catta");
---

<Layout>
  {catCollection.map((cat) => <a href={`/blog/${cat.id}`}>{cat.data.title}</a>)}
</Layout>
