---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>this is a try for php front to back</h1>

  <button onclick="getUsers()"> get Users</button>
  <div class="getUsers"></div>
</Layout>

<script>
  // pas de await dans l'histoire?

  async function getUsers() {
    try {
      //changer ca et go
      const response = await fetch("http://localhost:8000/users");

      if (!response.ok) {
        throw new Error("Erreur HTTP: " + response.status);
      }

      const users = await response.json();
      console.log(users);
      // displayUsers(users);
    } catch (error) {
      console.error("Erreur:", error);
      document.querySelector(".getUsers").innerHTML =
        '<p style="color: red;">Erreur lors du chargement</p>';
    }
  }

  // function displayUsers(users){
  //   document.querySelector(".getUsers").append(elem.nom)
  // }
</script>
