.lu-container {
    margin: auto;
    max-width: 36.5rem;
    width: 100%;
  }

.lu-header{
    position: relative;
    display: block;
    margin: 0 0 1.25rem 0;
    text-transform: uppercase;
    font-family: var(--headerFont);
    font-size: var(--headerFontSize);
    line-height: 1.5em;
    font-weight: 700;
    color: var(--headerColor);
    transition: color 0.3s;
}

.lu-p{
    margin: 0;
    font-size: var(--bodyFontSize);
    color: var(--bodyTextColor);
    text-align: inherit;
    transition: color 0.3s;
}

.lu-text{
  margin: 0;
  font-size: 1rem;
  color: var(--headerColor);
  text-align: inherit;
  transition: color 0.3s;
}

.lu-ul{
padding: 0;
}

.lu-li{
    color: var(--headerColor);
    transition: color 0.3s;
}

.lu-a{
  color: var(--headerColor);
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.lu-a:hover{
    color: var(--secondary);
}

.lu-lineH{
  display: block;
  content: "";
  border-bottom: 1px solid #000;
}

.lu-lineV{
  content: "";
  border-right: 1px solid #000;
}




@media screen and (min-width: 400px) {
}
@media screen and (min-width: 568px) {
}
@media screen and (min-width: 768px) {
  .lu-container {
    max-width: 80rem;
  }
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1300px) {
}
